.topnav {
    overflow: hidden;
    background-color: rgba(68,69,68,0.94)
}

.topnav .a {
    float: left;
    display: block;
    color: black;
    button-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav .search-container {
    float: left;
    display: block;
    color: black;
    button-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .account-container {
    float: right;
    display: block;
    color: black;
    button-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}


body {
    background-image: url("https://cdn.pixabay.com/photo/2021/09/15/13/28/art-6626881_960_720.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

a:link {
    text-decoration: none;
}

#header-title {
    color: rgba(12,14,23,0.94)
}

table, th, td {
    background-color: snow;
    border-radius: 10px;
    border-style: inset;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: fill;
    margin-right: auto;
    /*border: 1px solid #ddd;*/
    border-radius: 16px;
    border-style: inset;
    border-color: grey;
    padding: 5px;
    width: 250px;
}

input, textarea {
    /*border: black, 2pt palegreen;*/
    border-radius: 4pt;
    padding: 4pt 12pt;
}

button {
    background-color: silver;
    border-radius: 4pt;
    color: black;
    padding: 4pt 12pt;
    text-decoration: none;
    margin: 2pt 2pt;
    cursor: pointer;
}

footer {
    height: 36pt;
    position: fixed;
    padding: 6pt;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkkhaki;
    color: black;
    text-align: center;
}

h1, h2, h3, table, form, div, input, button {
   font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    color: rgba(33,33,33,0.94);
}

a {
   font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    color: black;
}

.content-wrapper {
    padding: 10%;
}

.comment-date {
    font-size: 1.5vh;
    font-style: italic;
    text-align: end;
    margin: 0.5vh 0 1vh;
}

.link-inside-table {
    font-size: 80%;
}

.answer-table {
    width: 418px;
    margin-top: 0.5vh;
}

.comments {
    margin: 1vh 0 0;
}

.tag-button {
    background: #FFFAFA;
}

.background-img {
  opacity: 0.5;
}

.sort-button {
    background: transparent;
    border: none;
    display: inline-block;
    margin-right:2vh;
    padding: 0;
}

.users-td {
    text-align: center;
    vertical-align: middle;
}


.author {
    font-style: italic;
}

.post-username {
    display: inline-block;
    font-size: large;
    font-weight: bold;
}

.answer-message {
    font-weight: bold;
}

.answer-footer {
    font-weight: normal;
    font-style: italic;
    font-size: small;
    text-align: right;
}

.answer-footer-author {
    font-weight: bold;
}

.comment-footer-author {
    text-align: right;
    font-style: italic;
    font-size: 10px;
    margin: 0 0 2px;
}

.comment-author {
    font-weight: bold;
    margin: 0
}

.flash-messages {
    padding-top:  10px;
}

.max-width {
    background-color: rgba(96,143,93,0.94);
    border-radius: 10px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgba(15,30,12,0.92);
}
