<html>
    <head>
        <title>{% block page_title %}Main page{% endblock %} - Q & A - Ask.Mate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/doNotModifyThisFile.js') }}" defer></script>
    </head>
    <body>
        <div class="content-wrapper">
            <header>
                <a href="/list"><h1 id="header-title">🆀 & 🅰 - 🅰🆂🅺.🅼🅰🆃🅴</h1></a>
            </header>
            <section>
                <h2 class="title text-center">{{ self.page_title() }}</h2>

                {% block content %}{% endblock %}
            </section>
        <h2>All Questions:</h2>
        <button id="theme-button">Change Theme to Dark</button>
        <button onclick="increaseFont()" id="increase-font-button">Increase page font</button>
        <button onclick="decreaseFont()" id="decrease-font-button">Decrease page font</button>
        <input
                data-table-body="doNotModifyThisId_QuestionsTableBody"
                style="width: 500px" id="doNotModifyThisId_QuestionsFilter"
                type="text"
                placeholder="filter questions by keywords">
        <table id="container" class="main_table">
            <thead id="doNotModifyThisId_QuestionsTableHeader">
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Vote Count</td>
                    <td>View Number</td>
                </tr>
            </thead>
            <tbody id="doNotModifyThisId_QuestionsTableBody">
                {% for question in questions %}
                    <tr>
                        <td>{{ question['title'] }}</td>
                        <td>{{ question['description'] }}</td>
                        <td>{{ question['vote_number'] }}</td>
                        <td>{{ question['view_number'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </body>
</html>
