{% extends "layout.html" %}

{% block page_title %}
    Edit answer
{% endblock %}

{% block content %}

    {% for data in answer_data %}
    <form action="/edit_answer/{{ answer_id }}/edit/{{ data.question_id }}" method="POST">
        <label for="new-answer-input">Edit answer:</label>
        <textarea id="new-answer-input" name="new-answer" rows="4" cols="50">{{ data.message }}</textarea>
        <button type="submit">Submit</button>
    </form>
    {% endfor %}

    <br><a href="/list">Back to list page ↩️</a>

{% endblock %}