{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block content %}
        <h1 class="header">Hey Lads! Check latest questions out!</h1>
{#        <form action="/search" method="get">#}
{#            <input type="search" class="search" placeholder="Search..." name="q">#}
{#        </form><br>#}
        <table class="main_table" title="main_table">
            {% for key in questions[0].keys() %}
                {% if questions[0].keys() != "id" %}
                <th class="table_header">{{ table_header.get(key) }}</th>
            {% endif %}{% endfor %}
            {% for question in questions %}
                <tr>
                {% for key, value in question.items() %}
                    {% if key == "message" or key == "title" %}
                        <td><a href="question/{{ question.get("id") }}">{{ value }} </a></td>
                    {% else %}
                        <td>
                            {{ value }}
                        </td>
                    {% endif %}{% endfor %}
                </tr>
            {% endfor %}
        </table><br>
        <form action="/list" method="get">
            <input type="submit" value="All questions" class="all-questions">
        </form>

{% endblock %}
