<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}Main page{% endblock %} - Q & A - Ask.Mate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    <div class="topnav">
        <div class="search-container">
            <form action="/search">
                <input type="search" class="search" placeholder="Search.." name="q">
                <button type="submit">Submit</button>
            </form>
        </div>
        {% if not session %}
        <div class="account-container">
            <form action="/login">
                <button type="submit">Login</button>
            </form>
            <form action="/registration">
                <button type="submit">Create account</button>
            </form>
        </div>
        {% else %}
        <div class="account-container">
            <form action='/logout'>
                <button type="submit">Logout</button>
            </form>
        </div>
        <div class="account-container">
            <form action="/user/{{ session['user_id'] }}">
                <button type="submit">{{ session['username'].split('@')[0] }} page</button>
            </form>
        </div>
        {% endif %}
    </div>
<div class="content-wrapper">
    <header>
        <a href="/list"><h1 id="header-title">🆀 & 🅰 - 🅰🆂🅺.🅼🅰🆃🅴</h1></a>
    </header>
    <section>
        <h2 class="title text-center">{{ self.page_title() }}</h2>

        {% block content %}{% endblock %}
    </section>
</div>
</body>
</html>



