{% extends "layout.html" %}

{% block page_title %}
    Hi Mates!
{% endblock %}

{% block content %}
<h2>On this page you can read the following questions:</h2>

<table class="">
    <tr>
    {% for key, header in table_headers.items() %}
        {% if key != 'id' %}
        <th>
            <p>
            <form>
            <strong> {{ header }}</strong>
            <button type="button" class="sort-button" id="sort-up" name="sort" value="sort-up"><a href="/{{ key }}/1">&#8593;</a></button>
            <button type="button" class="sort-button" id="sort-down" name="sort" value="sort-down"><a href="/{{ key }}/0">&#8595;</a></button>
            </form>
            </p>
        </th>
    {% endif %}{% endfor %}
    </tr>
    {% for user_record in questions_list %}
        <tr>{% for keys in table_headers.keys() %}
            {% if keys == "title" %}
                <td><a href="/question/{{ user_record["id"]}}">{{ user_record[keys] }}</a></td>
            {% elif keys == "vote_number" %}
                <td class="votes-question"> <div class="votes-question-display"><a href="/vote/{{ user_record["id"] }}/+">👍</a> {{ user_record["votes_up"] }} </div>
                    <div class="votes-question-display"><a href="/vote/{{ user_record["id"] }}/-">👎</a> {{ user_record["votes_down"] }}</div></td>
            {% elif keys== "submission_time" %}
                <td>{{ (user_record[keys]|string)[:-7] }}</td>
            {% elif keys!= "id" %}
                <td>{{ user_record[keys] }}</td>
            {% endif %} {% endfor %} </tr> {% endfor %}

</table>
<br>
    {% if session  %}
    <button><a href="/new_question">Add question</a></button><br>
    {% endif %}
    <br><a href="/">Back to main page ↩️</a>
{% endblock %}
