{% extends "layout.html" %}

{% block page_title %}
    Login
{% endblock %}

{% block content %}
<center>
<h1>Log in</h1>
<form action="/login" method="POST">
    <table>
        <tr>
            <td>
                <label for="username">USERNAME:</label>
            </td>
            <td>
                <input id="username" type="email" name="user_name">
            </td>
        </tr>
        <tr>
            <td>
                    <label for="password">PASSWORD:</label>
            </td>
        <td>
        <input id="password" type="password" name="password_name">
        </td>
        </tr>
    </table>
    <button type="submit">Login</button>

</form>
</center>
{% endblock %}
