<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Answer</title>
</head>
<body>
<h1>Answer the question</h1>
<h3 id="question_na" name="question_na">Question example</h3>
<form action="/" method="post" enctype=multipart/form-data>
<textarea id="answer_na" name="answer_na" rows="4" cols="50" required></textarea>
    <br>
    <input type=file name="image_to_upload">
      <input type="submit" value="Upload">
    <br>
    <br>
    <input type=submit value="Post new answer">
</form>
</body>
</html>