{% extends "layout.html" %}

{% block page_title %}
    🔍 Let's take a look on the problem:
{% endblock %}

{% block content %}
    <div class="question-block">
{#        <h1>{{ question_data[0].get("title") }}</h1><br>#}
{#        {% if question_data[0].get("image") == "" or question_data[0].get("image") == None %}#}
{#            <h3>{{ question_data[0].get("message") }}</h3><br>#}
{#        {% else %}#}
{#            <h3>{{ question_data[0].get("message") }}<br><br><img src="{{ question_data[0].get("image") }}" alt="Image" width="300"></h3>#}
{#        {% endif %}#}
        <h1 style="text-decoration: underline">{{ question_data[0].get("title") }}</h1><br>
        {% if question_data[0].get("image") == "" or question_data[0].get("image") == None %}
            <h3>{{ question_data[0].get("message") }}</h3><br>
        {% else %}
            <h3>{{ question_data[0].get("message") }}<br><br><img src="{{ question_data[0].get("image") }}" alt="Image" width="300"></h3>
        {% endif %}
        {% if question_data[0].get("username") == "" or question_data[0].get("username") == None %}
        <p class="author">Posted by <span class="post-username">Unknown</span></p>
        {% else %}
        <p class="author">Posted by <span class="post-username">{{ question_data[0].get("username") }}</span></p>
        {% endif %}
    </div>

    {% for data in comments_data %}
        {% if data.question_id and (data.answer_id == None or data.answer_id == "") %}
    <ul>
        <li class="answer-comments-cell"><h4>{{ data.message }}</h4></li>
        {% if session %}
        <a href="/delete_question_comment/{{ data.question_id }}/{{ data.id }}"> Delete 🗑️</a>
        {% endif %}
    </ul>
    {% endif %}{% endfor %}
    {% if session %}
    <table>
        <thead>
            <tr>
                <th>
                <form action="/add_comment_to_question/{{ question_id }}">
                    <button type="submit">Comment</button>
                </form>
                </th>
                <th>
                <form action="/question/{{ question_id }}/delete">
                    <button type="submit">Delete</button>
                </form>
                </th>
                <th>
                <form action="/edit_question/{{ question_id }}">
                    <button type="submit">Edit</button>
                </form>
                </th>
                <th>
                <form action="/new_answer/{{ question_id }}">
                    <button type="submit">Add new answer</button>
                </form>
                </th>
                <th>
                <form action="/question/{{ question_id }}/new-tag">
                    <button type="submit">Add tag</button>
                </form>
                </th>
            </tr>
        </thead>
    </table>
    {% endif %}
    <h4>Tags:</h4>
    {% for tag in tags %}
        <button disabled class="tag-button">{{ tag.name }}</button>
    {% endfor %}

	{% if answer_data|length == 0 %}
        <h3>Nothing comment yet.</h3>
	{% elif answer_data|length == 1 %}
	    <h3>{{ answer_data|length }} answer:</h3>
	{% else %}
	    <h3>{{ answer_data|length }} answers:</h3>
	{% endif %}

    <br>
    {% for answer in answer_data %}
    <table class="answer-table">
        <thead>
            <tr>
                <th class="answer-message">
                    {{ answer.message }}
                {% if answer.username == None or  answer.username == "" %}
                    <p class="answer-footer"> Posted by <span class="answer-footer-author">Unknown</span></p>
                {% else %}
                    <p class="answer-footer"> Posted by <span class="answer-footer-author">{{ answer.username }}</span></p>
                {% endif %}
                </th>
                <th class="votes-cell">{{ answer.votes_up }}  <a href="/question/vote/{{ question_id }}/{{ answer.id }}/{{ answer.votes_up + 1}}">👍</a></th>
                {% if answer.votes_down == 0 %}
                    <th class="votes-cell"> <p class="votes-display"> {{ answer.votes_down }} </p><a href="/question/vote/{{ question_id }}/{{ answer.id }}/-1">👎</a>
                {% else %}
                    <th class="votes-cell"><p class="votes-display"> {{ answer.votes_down }} </p><a href="/question/vote/{{ question_id }}/{{ answer.id }}/-1">👎</a></th>
{#                           <a href="/question/vote/{{ question_id }}/{{ answer.id }}/+ 1">👍</a>#}
{#                <a href="/question/vote/{{ question_id }}/{{ answer.id }}/- 1">👎</a>#}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
            {% if answer.image == "" or answer.image == None %}
                {% if session %}
                    <a href="/answer/{{ answer.id }}/delete/{{ answer.question_id }}" class="link-inside-table">Delete 🗑️</a>
                {% endif %}
            {% else %}
                <div style="text-align: center"><img src="{{ answer.image }}" alt="Image" width="300" class="responsive"></div>
                {% if session %}
                    <a href="/answer/{{ answer.id }}/delete/{{ answer.question_id }}" class="link-inside-table">Delete 🗑️</a>
                {% endif %}
            {% endif %}
                {% if session %}
                    <a href="/edit_answer/{{ answer.id }}" class="link-inside-table">Edit ✏️</a>
                    <a href="/add_comment_to_answer/{{ question_id }}/{{ answer.id }}" class="link-inside-table">Comment 🖊️</a>
                {% endif %}
                </td>
            </tr>
                {% for comment in comments_data %}
                {% if comment.answer_id == answer.id %}
                {% set submission_date = comment.submission_time|string() %}
            <tr>
                <td>
                    <p class="comments">{{ comment.message }} </p>
                    {% if comment.username == None or comment.username == "" %}
                        <p class="comment-footer-author">Posted by <span class="comment-author">Unknown</span></p>
                    {% else %}
                        <p class="comment-footer-author">Posted by <span class="comment-author">{{ comment.username }}</span></p>
                    {% endif %}
                    <p class="comment-footer-author">{{ submission_date[:-7] }}</p>
                    {% if session %}
                        <a href="/edit_comment/{{ comment.question_id }}/{{ comment.id }}" class="link-inside-table">Edit ✏️</a>
                        <button onclick="alert('Are you sure to delete?'), location.href = '/comments/{{ comment.question_id }}/{{ comment.id }}/delete';"
                                id="my_button" class="link-inside-table">🗑️</button>
                    {% endif %}
                {% endif %}
                {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    {% endfor %}

    <br><a href="/list">Back to list page ↩️</a>

{% endblock %}
