{% extends "layout.html" %}

{% block page_title %}
    Hi Mates!
{% endblock %}

{% block content %}

        <h1>{{ question_data[0].get("title") }}</h1><br>
        {% if question_data[0].get("image") == "" %}
	        <h3>{{ question_data[0].get("message") }}</h3><br>
        {% else %}
            <h3>{{ question_data[0].get("message") }}<br><br><img src="{{ question_data[0].get("image") }}" alt="Image" width="200"></h3>
        {% endif %}


	{% if answer_data|length == 0 %}
        <h3>Nothing comment yet.</h3>
	{% elif answer_data|length == 1 %}
	    <h3>{{ answers_number }} answer:</h3>
	{% else %}
	    <h3>{{ answers_number }} answers:</h3>
	{% endif %}

	{% for answer in answer_data %}
    <ul>

	    <li>
        <strong>{{ answer.message }}</strong> ----- {{ answer.vote_number }} votes
        <a href="/question/vote/{{ answer.question_id }}/{{ answer.id }}/{{ answer.vote_number + 1 }}">👍</a>
        <a href="/question/vote/{{ answer.question_id }}/{{ answer.id }}/{{ answer.vote_number - 1 }}">👎</a>
        </li>
        {% if answer.image == "" %}
            <a href="/answer/{{ answer.id }}/delete/{{ answer.question_id }}">Delete answer</a>
        {% else %}
            <div style="text-align: center"><img src="{{ answer.image }}" alt="Image" width="200" ></div>
            <a href="/answer/{{ answer.id }}/delete/{{ answer.question_id }}">Delete answer</a>
        {% endif %}
            <a href="/edit_answer/{{ answer.id }}">Edit answer</a><br>
        <a href="/add_comment_to_answer/{{ question_id }}/{{ answer.id }}">Comment Answer</a>
    </ul>
	{% endfor %}

  	<form action="/question/{{ question_id }}/delete" method="POST"><br>
        <input type="submit" name="delete_button" value="Delete question"><br>
    </form>
    <form action="/new_answer/{{ question_id }}"><br>
        <button>Add new answer</button>
    </form>
    <form action="/edit_question/{{ question_id }}"><br>
        <button>Edit question</button>
    </form>

    <a href="/">Back to main page</a>

{% endblock %}
