{% extends "layout.html" %}

{% block page_title %}

{% endblock %}

{% block content %}
<center>
    <h1>Create an account</h1>
    <form action="/registration" method="POST">
        <table>
            <tr>
                <td>
                    <label for="username">Enter user e-mail:</label>
                </td>
                <td>
                    <input type="email" id="username" name="username" placeholder="Enter user e-mail...">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Enter your password:</label>
                </td>
                <td>
                    <input type="password" id="password" name="password" placeholder="Enter your password...">
                </td>
            </tr>
        </table>
        <button type="submit">Register</button>
    </form>
</center>

    <br><a href="/list">Back to list page ↩️</a>

{% endblock %}